
@model List<ExamCalendarAssigner.Data.Model.TakvimModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<html>
<body>
   <table class="table">
     <thead>
         <tr>
             <th>
                 
             </th>
             <th>

             </th>
         </tr>
     </thead>

       <tbody>
           @foreach(var item in Model)
           {
           <tr>
               <td>
                   @item.Tarih
               </td>
               <td>
                   @item.Tarih.DayOfWeek
               </td>
               <td>
                   @item.Saat
               </td>
               <td>
                   @item.dersKodu
               </td>
               <td>
                   @item.dersAdi
               </td>
               <td>
                   @item.Salonlar.ToList()
               </td>
               <td>
                   @item.gozetmen
               </td>

           </tr>
           }
       </tbody>

   </table>

</body>
</html>

