
@model List<ExamCalendarAssigner.Data.Model.TakvimModel>
@{
    ViewData["Title"] = "Program";
}
<h1>Program</h1>
<div>
    <a asp-action="Index">Create New</a>
</div>
<html>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tarih
                </th>
                <th>
                    Gun
                </th>
                <th>
                    Saat
                </th>
                <th>
                    Ders Kodu
                </th>
                <th>
                    Ders Adı
                </th>
                <th>
                    Salonlar
                </th>
                <th>
                    Gozetmenler
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Tarih.ToShortDateString()
                </td>
                <td>
                    @item.Tarih.DayOfWeek
                </td>
                <td>
                    @item.Saat
                </td>
                <td>
                    @item.dersKodu
                </td>
                <td>
                    @item.dersAdi
                </td>
                <td>
                    @item.Salonlar
                </td>
                <td>
                    @item.gozetmen
                </td>
                <td>
                    <a asp-controller="Exam" asp-action="edit" asp-route-id="@item.dersKodu">Edit</a>
                </td>
                
            </tr>
            }
        </tbody>

    </table>

</body>
</html>

